* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-image: url("Latar_Gradasi_biru_putih.png");
}

.container {
  margin-left: 15px;
  padding-right: 15px;
}

header {
  position: fixed;
  width: 100%;
  top: 10px;
}

.header-logo {
  float: left;
  margin-left: 100px;

}

.header-logo img {
  width: 150px;
}

.header-nav{
  margin-right: 100px;
}

.header-nav li {
  color: blueviolet;
  list-style: none;
  float: right;
  padding: 15px 15px;
  font-weight: 800;
}

.top-wrapper {
  background-image: url("Ilustrasi.png");
  padding: 300px 100px;
  background-size: cover;
}

.top-font {
  color: blueviolet;
  font-weight: 700;
  text-shadow: 1px 1px #575656;
}

.container {
  display: flex;
  margin: 20px 50px;
  /* background-color: aquamarine; */
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* background-color: #fbdd1c; */
}

.box1 {
  flex-grow: 2;
  /* background-color: greenyellow; */
}

.box2 {
  flex-grow: 1;
  /* background-color: greenyellow; */
}

.top-form {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
.top-form button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;
}
