* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.flex-column {
  flex-direction: column;
  display: flex;

  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.flex-row {
  display: flex;
}

.display {
  color: white;
  font-size: 2em;
  background-color: darkslategray;
  width: 100%;
  height: 150px;
  padding: 10px 15px;
  border: 1px solid whitesmoke;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 25px;
  margin-top: 20px;
}

.button {
  flex-basis: 25%;

  font-size: 1.5em;
  text-align: center;
  padding: 40px;
  border: 1px solid whitesmoke;
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
  cursor: pointer;
}

.button:hover {
  font-weight: 600;
}

.operator,
.inverse {
  background: steelblue;
}

.equals {
  background: dodgerblue;
}

.clear {
  background: dodgerblue;
}

.double {
  flex-basis: 50%;
}

.full {
  flex-basis: 100%;
  padding: 10px;
}

.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid royalblue;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th {
  background-color: skyblue;
  color: azure;
}

tr:nth-child(even) {
  background-color: violet;
}

/* Media */
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
  .history {
    width: 100%;
  }
}
